<!--calendario -->

<mat-form-field class= "margen" appearance="fill">
  <mat-label>Consultar fecha</mat-label>
  <input matInput [matDatepicker]="picker"
  (dateInput)="clickFecha('input', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<table mat-table [dataSource]="vectorResultados" class="mat-elevation-z8">
  <!-- HORA Column -->
  <ng-container matColumnDef="hora">
    <th mat-header-cell *matHeaderCellDef>HORA</th>
    <td mat-cell *matCellDef="let element">
      {{ convertirHora(element.hora) | date: " hh:mm" }}
    </td>
  </ng-container>

  <!-- OPERACION Column -->
  <ng-container matColumnDef="operacion">
    <th mat-header-cell *matHeaderCellDef>OPERACION</th>
    <td mat-cell *matCellDef="let element">
      {{ element.operacion | uppercase }}
    </td>
  </ng-container>

  <!-- USD Column -->
  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef>Monto USD</th>
    <td mat-cell *matCellDef="let element">
      {{ element.monto | currency }}
    </td>
  </ng-container>

  <!-- ARS Column -->
  <ng-container matColumnDef="cotizacion">
    <th mat-header-cell *matHeaderCellDef>Coti ARS</th>
    <td mat-cell *matCellDef="let element">
      {{ element.cotizacion | currency }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="row">
  <h2>TOTAL</h2>
  <h3 class="block">USD: {{ totalUSD }}</h3>
  <h3 class="block">ARS: {{ totalARS }}</h3>
</div>
<div class="row">
  <h2>INICIO CAJA</h2>
  <h3 class="block">USD: {{ inicioUSD }}</h3>
  <h3 class="block">ARS: {{ inicioARS }}</h3>
</div>
<div class="row">
  <h2>CIERRE CAJA</h2>
  <h3 class="block">USD: {{ cierreUSD }}</h3>
  <h3 class="block">ARS: {{ cierreARS }}</h3>
</div>
